.container__small-card {
  width: 700px;
  margin-bottom: 15px;
  transition: transform 0.3s;
}

.container__small-card:hover {
  transform: scale(1.02);
}

.container__small-card-content {
  display: flex;
  flex-direction: row;
}

.small-card__photo > img {
  width: 200px;
  min-width: 200px;
  height: 170px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 2px;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__small-card__separator {
  margin-top: 10px;
}
