<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      *ngIf="data.length > 0"
      Id="{{ data[0].Id }}"
      photoCover="{{ data[0].PhotoCover }}"
      cardTitle="{{ data[0].Title }}"
      cardDescription="{{ data[0].Description }}"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      *ngFor="let item of data"
      Id="{{ item.Id }}"
      photoCover="{{ item.PhotoCover }}"
      cardTitle="{{ item.Title }}"
    ></app-small-card>
  </div>
</div>
